# Vector-images
*.xml
*.svg
*.xsvg
*.emf
*.svg:Zone.Identifier
*.svgcom.dropbox.attrs

# Raster-images
*.png
*.png.txt
*.svg.jpeg_base64
*.svg.png_base64
*.jpg

# compiling and installing files
node_modules/*
*json
