<!doctype html>
<!--Source: https://github.com/jakearchibald/svgomg/-->
<html dropzone>
  <head>
    <title>cleanup SVG</title>
    <meta name="theme-color" content="#303F9F">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <style>{% include "../build/css/head.scss" %}</style>
    <script>
      if ((!location.port || location.port == "80") && location.protocol != 'https:') {
        location.protocol = 'https:';
      }

      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-58850134-1', 'auto');
      ga('send', 'pageview');

      window.version = "{{changelog[0].version}}";
    </script>
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon-precomposed" href="imgs/icon.png">
    <link rel="icon" href="imgs/icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="SVGOMG">
  </head>
  <body>
    <div class="app-output">
      <div class="main-menu">
        <div class="overlay"></div>
        <nav class="menu">
          <ul>
            <li>
              <div tabindex="0" role="button" class="select-file unbutton menu-item needsclick">
                Open SVG
              </div>
              <input type="file" class="select-file-input" accept=".svg">
            </li>
            <li>
              <label class="menu-input menu-item">
                <div class="input-area">
                  <textarea class="paste-input"></textarea>
                  <span class="label-txt">Paste markup</span>
                </div>
              </label>
            </li>
            <li>
              <div tabindex="0" role="button" class="load-demo unbutton menu-item">
                Demo
              </div>
            </li>
            <li>
              <a href="https://github.com/jakearchibald/svgomg" class="menu-item">
                Contribute
              </a>
            </li>
            <li>
              <a href="https://github.com/jakearchibald/svgomg/blob/master/README.md" class="menu-item">
                About
              </a>
            </li>
          </ul>
          <div class="menu-extra"></div>
          <div class="menu-footer-notes">
            <p>Powered by the incredible <a href="https://github.com/svg/svgo">SVGO</a></p>
          </div>
        </nav>
      </div>
      <div class="toolbar">
        <div class="menu-toolbar-item">
          <button class="unbutton menu-btn">
            <svg viewBox="0 0 24 24">
              <title>Menu</title>
              <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
            </svg>
          </button>
        </div>
        <form class="material-tabs view-toggler">
          <label class="material-tab">
            <input type="radio" name="output" value="image" checked>
            <span class="selected"></span>
            Image
          </label>
          <label class="material-tab">
            <input type="radio" name="output" value="code">
            <span class="selected"></span>
            Code
          </label>
        </form>
      </div>
      <div class="main">
        <div class="output">
          <div class="action-button-container">
            <div class="minor-action-container"></div>
            <div class="results-container"></div>
          </div>
        </div>
        <div class="settings">
          <div class="results-container-mobile"></div>
          <div class="settings-scroller">
            <section class="global">
              <h1 class="settings-sub-heading">Global settings</h1>
              <div>
                <label class="setting-item-toggle">
                  <input type="checkbox" name="original">
                  {% include "partials/material-switch.html" %}
                  Show original
                </label>
              </div>
              <div>
                <label class="setting-item-toggle">
                  <input type="checkbox" name="gzip" checked>
                  {% include "partials/material-switch.html" %}
                  Compare gzipped
                </label>
              </div>
              <div>
                <label class="setting-item-toggle">
                  <input type="checkbox" name="pretty">
                  {% include "partials/material-switch.html" %}
                  Prettify code
                </label>
              </div>
              <div>
                <label class="setting-item-toggle">
                  <input type="checkbox" name="multipass">
                  {% include "partials/material-switch.html" %}
                  Multipass
                </label>
              </div>
              <div>
                <label class="setting-item-range">
                  <div class="label-text">Precision</div>
                  <input type="range" min="1" max="8" step="1" value="3" name="floatPrecision">
                </label>
              </div>
            </section>
            <section class="plugins">
              <h1 class="settings-sub-heading">Features</h1>
              {% for plugin in plugins %}
                <div>
                  <label class="setting-item-toggle">
                    <input type="checkbox"
                           name="{{ plugin.id }}"
                           {% if plugin.active %}checked{% endif %}>
                    {% include "partials/material-switch.html" %}
                    {{ plugin.name }}
                  </label>
                </div>
              {% endfor %}
            </section>
          </div>
        </div>
      </div>
      <div class="preloader">
        <div class="spinner">
          <div class="spinner-container">
            <div class="spinner-layer">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
        <p>Sorry, wasn't ready…</p>
      </div>
      <script>
        document.querySelector('.preloader').addEventListener('click', function(event) {
          // track it
          ga('send', 'event', 'preloader', 'clicked');
          this.className = 'preloader active';
        });

        requestAnimationFrame(function() {
          [
            "css/all.css",
            "https://fonts.googleapis.com/css?family=Roboto:400,700|Inconsolata"
          ].forEach(function(url) {
            var link = document.createElement('link');
            link.rel = "stylesheet";
            link.crossorigin = true;
            link.href = url;

            document.head.appendChild(link);
          });

          [
            'js/page.js',
            '//www.google-analytics.com/analytics.js'
          ].forEach(function(url) {
            var script = document.createElement('script');
            script.src = url;
            document.head.appendChild(script);
          })
        });
      </script>
    </div>
  </body>
</html>
